
body {
    font-family: 'Poppins', sans-serif;
}

/*Sign Up form CSS */
#signupform {
    margin-top: 0px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* Style the form labels */
#signupform label {
    font-weight: bold;
    display: block;
    margin-left:auto;
    margin-top: 0px;
    font-size: larger;
    margin-bottom: 10px;
}

/* Style the input fields */
#signupform input[type="text"],
#signupform input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 0px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border 0.3s;
    font-family: 'Poppins', sans-serif;
}

/* Add focus effect on input fields */
#signupform input[type="text"]:focus,
#signupform input[type="password"]:focus {
    border-color: #f39c12;
    outline: none;
}


#signupform input[type="date"] {
    width: 135px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

/* Style the submit button */
#signupform input[type="submit"] {
    font-family: 'Poppins', sans-serif;
    background: #f39c12;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    width: 300px;
    transition: background 0.3s;
}

/* Hover effect for submit button */
#signupform input[type="submit"]:hover {
    background: #00c9ff;
}