<link rel="stylesheet" href="pages/home/home.css">

<body>
    <div class="container">
        <aside class="filter-section">
            <form id="filter-form" ng-submit="filterItems()">
                <h1>Filter</h1>

                <label for="price-range"><h3>Price</h3></label>
                <div id="price-range"></div>
                <p>Price: $<span id="price-min-display">{{ filters['price-min'] }}</span> - $<span id="price-max-display">{{ filters['price-max'] }}</span></p>

                <label for="os"><h3>Operating System</h3></label>
                <select id="os" ng-model="filters.os">
                    <option value="">All OS</option>
                    <option value="android">Android</option>
                    <option value="ios">iOS</option>
                </select>

                <label for="brand"><h3>Brand</h3></label>
                <select id="brand" ng-model="filters.brand">
                    <option value="">All Brands</option>
                    <option value="apple">Apple</option>
                    <option value="samsung">Samsung</option>
                    <option value="google">Google</option>
                    <option value="oneplus">OnePlus</option>
                    <option value="sony">Sony</option>
                    <option value="huawei">Huawei</option>
                </select>

                <button type="submit">Filter</button>
            </form>
        </aside>

        <main class="items-section">
            <div class="card-grid" id="item-list">
                <div ng-if="errorMessage" class="error-message">{{ errorMessage }}</div>
                <div ng-if="!errorMessage" class="card" ng-repeat="item in items" id="{{ item.ItemID }}">
                    <h3>{{ item.Item_name }}</h3>
                    <p>${{ item.Price }}</p>
                    <img ng-src="{{ item.Image_URL }}" alt="{{ item.Item_name }}" class="card-image">
                </div>
            </div>
        </main>
    </div>
</body>