body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form label {
    font-weight: bold;
}

form select {
    align-items: center;
    width: 200px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td img {
    display: block;
    margin: 0 auto;
}

button {
    margin-right: 5px;
}

img {
    width: 200px;
    height: auto;
}

#web-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
    display: flex; 
    width: 25%; 
    height: 50px; 
    background-color: #FFB6C1; 
    border-radius: 10px; 
    align-items: center; 
    justify-content: center;
}

#fade-out1, #fade-out2, #fade-out3, #fade-out4, #fade-in1, #fade-in2, #fade-in3, #fade-in4 {
    background-color: cyan;
}

#info-fade-out1, #info-fade-out2, #info-fade-out3, #info-fade-out4, #info-fade-in1, #info-fade-in2, #info-fade-in3, #info-fade-in4 {
    background-color: greenyellow;
}

#animate1, #animate2, #animate3, #animate4 {
    background-color: #FF3131;
}

@media screen and (max-width: 425px) {
    #web-title {
        font-size: 1.5rem;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        display: none;
    }

    td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    img {
        width: 100%;
        height: auto;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        padding-left: 15px;
        font-weight: bold;
    }
}